body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(135deg, #ff9a9e, #fad0c4)*/;
  background: #FDC3A1;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

/* Main container layout */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Intro text */
.intro {
  font-size: 1rem;
  color: #3B1C32;
  opacity: 0.9;
  margin: 0;
}

/* Question */
h1 {
  font-size: 2.5rem;
  color: #3B1C32;
  margin: 0;
}

/* Buttons layout */
.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

/* Shared button styling */
button {
  width: 120px;
  height: 48px;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
}

/* Hover grow effect */
button:hover {
  transform: scale(1.05);
}

/* Yes button */


#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

/* No button */
#noBtn {
  background-color: white;
  color: #ff4d6d;
  border: 2px solid #ff4d6d;
}

/* Celebration screen */
#gifContainer {
  display: none;
}

img {
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

.love-message {
  max-width: 500px;
  color:#3B1C32;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: -10px;
  margin-bottom: 10px;
  opacity: 0.95;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /* adapt to image width */
  gap: 20px;
  justify-content: center; /* center the grid */
  margin-top: 20px;
}

.gif-grid img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
